/*  */
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --mid-gray: #b5b0ac;
  --dark-grey: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'DM Sans', sans-serif;
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16%, #f7931a 100%);
}

header img {
  width: 15rem;
  height: auto;
  margin-top: 6rem;
}

.header__title-container {
  width: 90%;
  min-width: 29rem;
  max-width: 90rem;
  height: 22rem;
  margin-top: 4rem;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  left: calc(50% - 12rem);
  bottom: -2rem;
  display: block;
  padding: 1.5rem;
  width: 24rem;
  height: 4.8rem;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px var(--grey);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header__button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url('./assets/icons/down-arrow.svg');
}

/* Main */
main {
  width: 100%;
  background-color: var(--off-white);
}

.exchange {
  padding: 6rem 0 3rem;
  text-align: center;
}

.exchange__image-container img {
  width: 20rem;
  height: auto;
  margin-bottom: 5rem;
}

.exchange__title {
  width: 90%;
  min-width: 28rem;
  max-width: 90rem;
  margin: 0 auto;
}

.exchange__title h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.exchange__title p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.exchange__tables--grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 12rem);
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  gap: 0.1rem;
}

.exchange__tables--title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-left: calc(50% - 11rem);
  margin-bottom: 1rem;
}

#moneys-title {
  color: var(--bitcoin-orange);
}

#commissions-title {
  color: var(--secondary-blue);
}

.exchange__tables--money,
.exchange__tables--price {
  background-color: var(--just-white);
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: left;
}

.exchange__tables--money {
  color: var(--mid-gray);
  font-family: 'Inter', sans-serif;
}

.exchange__tables--price {
  color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exchange__tables--downgraph,
.exchange__tables--upgraph {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.exchange__tables--upgraph {
  background-image: url('./assets/icons/trending-up.svg');
}

.exchange__tables--downgraph {
  background-image: url('./assets/icons/trending-down.svg');
}

.exchange__tables--updated {
  font-size: 1.6rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.exchange__tables--updated p {
  padding: 1rem;
  border-radius: 1rem;
}

.moneys p {
  background-color: var(--soft-orange);
}

.commissions p {
  background-color: var(--soft-blue);
}
