/*  */
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'DM Sans', sans-serif;
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16%, #f7931a 100%);
}

header img {
  width: 15rem;
  height: auto;
  margin-top: 6rem;
}

.header__title-container {
  width: 90%;
  min-width: 29rem;
  max-width: 90rem;
  height: 22rem;
  margin-top: 4rem;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  left: calc(50% - 12rem);
  bottom: -2rem;
  display: block;
  padding: 1.5rem;
  width: 24rem;
  height: 4.8rem;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px var(--grey);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header__button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url('./assets/icons/down-arrow.svg');
}
