/*  */
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --mid-gray: #b5b0ac;
  --dark-grey: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16%, #f7931a 100%);
}

header img {
  width: 15rem;
  height: auto;
  margin-top: 6rem;
}

.header__title-container {
  width: 90%;
  min-width: 29rem;
  max-width: 90rem;
  height: 22rem;
  margin-top: 4rem;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  left: calc(50% - 12rem);
  bottom: -2rem;
  display: block;
  padding: 1.5rem;
  width: 24rem;
  height: 4.8rem;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px var(--grey);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header__button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url('./assets/icons/down-arrow.svg');
}

/* Main */
main {
  width: 100%;
  background-color: var(--off-white);
}

.exchange {
  padding: 6rem 0 3rem;
  text-align: center;
}

.exchange__image-container img {
  width: 20rem;
  height: auto;
  margin-bottom: 5rem;
}

.exchange__title {
  width: 90%;
  min-width: 28rem;
  max-width: 90rem;
  margin: 0 auto;
}

.exchange__title h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.exchange__title p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.exchange__tables--container {
  padding: 0 6rem;
  display: flex;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scroll-snap-type: x proximity;
}

.exchange__tables--table {
  margin: 0 1rem;
  scroll-snap-align: center;
}

.exchange__tables--grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 12rem);
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  gap: 0.1rem;
}

.exchange__tables--title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-left: calc(50% - 11rem);
  margin-bottom: 1rem;
}

#moneys-title {
  color: var(--bitcoin-orange);
}

#commissions-title {
  color: var(--secondary-blue);
}

.exchange__tables--money,
.exchange__tables--price {
  background-color: var(--just-white);
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: left;
}

.exchange__tables--money {
  color: var(--mid-gray);
  font-family: 'Inter', sans-serif;
}

.exchange__tables--price {
  color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exchange__tables--downgraph,
.exchange__tables--upgraph {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.exchange__tables--upgraph {
  background-image: url('./assets/icons/trending-up.svg');
}

.exchange__tables--downgraph {
  background-image: url('./assets/icons/trending-down.svg');
}

.exchange__tables--updated {
  font-size: 1.6rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.exchange__tables--updated p {
  padding: 1rem;
  border-radius: 1rem;
}

.moneys p {
  background-color: var(--soft-orange);
}

.commissions p {
  background-color: var(--soft-blue);
}

/* Products */

.products {
  position: relative;
  background-color: var(--warm-black);
  padding: 8rem 1rem 5rem;
}

.products__icon {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: calc(50% - 3rem);
  background-image: url('./assets/icons/batata.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.products__title {
  font-size: 2.4rem;
  color: var(--just-white);
  text-align: center;
}

.products__subtitle {
  color: var(--dark-grey);
  font-size: 1.4rem;
  margin-top: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.products__container {
  display: grid;
  justify-content: center;
  justify-items: center;
  max-width: 90rem;
  margin: 0 auto;
  row-gap: 1.6rem;
}

.products__card {
  background-color: var(--black);
  padding: 2rem 2rem 2.2rem 1.6rem;
  max-width: 40rem;
}

.products__card--icon {
  width: 3rem;
  height: 3rem;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

#clock {
  background-image: url('./assets/icons/clock.svg');
}

#eye {
  background-image: url('./assets/icons/eye.svg');
}

#dollar {
  background-image: url('./assets/icons/dollar-sign.svg');
}

#check {
  background-image: url('./assets/icons/check-circle.svg');
}

.products__card--title {
  color: var(--just-white);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.products__card--content {
  color: var(--dark-grey);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* Meet today */
.meet-today {
  width: 100%;
  height: 75vh;
  min-width: 32rem;
  background-image: url('./assets/img/bitcoinbaby2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.meet-today h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding-top: 6.4rem;
  color: var(--just-white);
}

/* plans */
.plans {
  background-color: var(--off-white);
  padding: 4rem 0 0;
}

.plans__title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  font-weight: bold;
  padding: 0 1.5rem;
}

.plans__subtitle {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--dark-grey);
  text-align: center;
  padding: 0 1.5rem;
}

.plans__container {
  padding: 4rem 0 6rem;
  margin: 2rem auto 0;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scroll-snap-type: x proximity;
}

.plans__card {
  position: relative;
  margin: 0 1rem;
  scroll-snap-align: center;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px var(--grey);
  border-radius: 1rem;
  width: 60%;
  min-width: 24rem;
  max-width: 30rem;
  text-align: center;
  padding-bottom: 2.4rem;
}

.plans__card--recommended {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 5rem);
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  text-align: center;
}

.plans__card--title {
  padding-top: 3rem;
  font-size: 1.4rem;
}

.plans__card--price {
  position: relative;
  font-size: 5.5rem;
  font-weight: bold;
}

.plans__card--price span {
  position: absolute;
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  top: 1.2rem;
  left: calc(50% - 4.5rem);
}

.plans__card--description {
  font-size: 1.2rem;
  color: var(--dark-grey);
  margin: 1.6rem;
}

.plans__card button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 1.6rem;
  width: 70%;
  max-width: 20rem;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}

.plans__card button:hover {
  cursor: pointer;
}

.plans__card button span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 1.2rem;
  background-image: url('./assets/icons/orange-right-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
footer {
  padding: 4rem 0;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer li {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}

footer li:hover {
  cursor: pointer;
}
